body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

h1 {
  float: left;
  width: 520px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-style: italic;
  border-bottom: 1px solid;
  color: maroon;
  margin: 0 auto 0 auto;
  padding: 20px;
}

nav {
  float: right;
  width: 285px;
  border: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

nav a {
  color: red;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contact :nth-child(2) {
  color: maroon;
  font-weight: bold;
}

ul {
  list-style: circle;
  position: relative;
  right: -20px;
}

main {
  background: white;
  overflow: auto;
  padding-bottom: 20px;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}